*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #nav_bar{
    background-image: linear-gradient(#189AB4,#189AB4);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  
    font-family:"Lucida Handwriting",cursive;
    overflow: auto;
  }
  
  #nav_bar_li{
    list-style-type: none;
    width: auto;
    height: auto;
  }
  
  #nav_bar_li li{
    float:right;
    padding: 20px;
    
  }
  
  
  #nav_bar_li a:link{
    text-decoration: none;
    font-size: 30px;
    display: block;
    opacity: 0.8;
  }
  
  #nav_bar_li a:visited{
    
    color: black;
  
  }
  
  
  #nav_bar_li a:hover{
    opacity: 1;
    color:  #050A30;
    text-shadow: 0 0 5px #75E6DA,
            0 0 25px #75E6DA,
            0 0 50px #75E6DA,
            0 0 100px #75E6DA;
  }
  
  
  #nav_bar_li a:active{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px #000000,
    0 0 25px #000000,
    0 0 50px #000000,
    0 0 100px #000000;
  }
  
  
  
  body{
    background: #222;
    
  }
  
  #form_h1{
    font-family:"Lucida Handwriting",cursive;
    text-align: center;
    color: #050A30;
    text-shadow: 0 0 5px #00f5dd,
    0 0 25px #00f5dd,
    0 0 50px #00f5dd,
    0 0 100px #00f5dd;
  }
  
  #input_details{
    text-align: center;
    padding: 40px;
    width:fit-content;
    
  }
  
  #input_form{
    font-size: 20px;
    border: double 2px;
    border-radius: 30px;
    padding: 10px;
    width: auto;
    height: auto;
    
    background: rgba(0,0,0,.5);
  }
  
  #input_form input{
    background-color: #c8f1f7;
    border: transparent;
    border-radius: 20em;
    font-size: 15px;
    padding-left: 12px;
    color: #001174;
  }
  
  #div_p{
    background-image:linear-gradient(transparent,transparent);
    opacity: .9;
    margin-top: 10px;
    margin-left: 80px;
    width: fit-content;
    text-align: center;
    font-size: 40px;
    padding-left: 14px;
    border-radius:1em;
    font-family:"Lucida Handwriting",cursive;
    position: relative;
  }
  
  #div_p p{
    color: rgb(0 0 0);
    text-shadow: 0 0 5px #00f5dd,
    0 0 25px #00f5dd,
    0 0 50px #00f5dd,
    0 0 100px #00f5dd;
    height:fit-content;
    width: fit-content;
    position: relative;
  }
  @keyframes cross{
    0% {color:white;}
    25%{color:rgb(248, 34, 34);}
    50% {color:white;}
    75%{color:rgb(248, 34, 34);}
    100% {color:white;}
  }
  
  
  
  
  
  
  
  #ambulance{
    margin-left:130px;   
    margin-top:-35;
    width: auto;
    position: relative;
    left: 154px;
  }
  
  
  #ambulance_left{
    z-index: -1;
    margin-right: -200px;
    position: absolute;
    right:250px;
    animation-name:go_left;
    animation-duration:6s;
    animation-iteration-count: infinite;
  }
  
  
  @keyframes go_left {
  0% {right:0em}
  20%{right:3em}
  40%{right:6em}
  60%{right:10em}
  80%{right:13em}
  100%{right:16em}
  
  }
  hr{
  
    border: none;
  }
  
  #ambulance_right{
    z-index: -1;
    margin-right: -200px;
    position: relative;
    right:350px;
    animation-name:go_right;
    animation-duration:6s;
    animation-iteration-count: infinite;
  }
  
  @keyframes go_right {
    0% {left:0em}
    20%{left:3em}
    40%{left:6em}
    60%{left:10em}
    80%{left:13em}
    100%{left:16em}
  
  }
  
  #cards{
    text-align:center;
    padding: 20px;
    
  }
  
  #c_left{
    float: left;
    width: 15rem;
    color:white;
    height:13em;
    border-radius: 20px;
    margin-left: 100px;
    background-image:linear-gradient(#75E6DA,#05445E)
  }
  #c_right{
    float: right;
    width: 15rem;;
    height:13em;
    margin-right: 100px;
    border-radius: 20px;
    color:white;
    background-image:linear-gradient(#24308e,#05445E)
  }
  #c_center{
    color:white;
    width: 15rem;;
    height:13em;
    margin:0 auto;
    border-radius: 20px;
    display:inline-block;
    background-image:linear-gradient(#189AB4,#05445E)
  }
  
  #c_left h3 :hover{
    background-color: white;
  
  }
  
  /* login */
  
  
  .login-box {
    position: absolute;
    top: 50%;
    font-family:"Lucida Handwriting",cursive;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #e91e63;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #00f5dd,
                0 0 25px #00f5dd,
                0 0 50px #00f5dd,
                0 0 100px #00f5dd;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  
  #login_but{
    background-color: transparent;
    border: none;
    font-family:"Lucida Handwriting",cursive;
    font-size:20px;
  }
  #login_but:hover{
    color:white;
    
    font-size:20px;
  }
  